//Arrow Pulse
// --------------------------------

@keyframes pulseOut {
  0% {
    opacity: 0;
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: scale(1.7, 1.7);
  }
}